body {
font-family: Arial, sans-serif;
}
.container {
max-width: 1000px;
width: 100%;
margin: auto;
}
header {
width: 100%;
background-color: rgba(0,0,0,0.9);
}
.logo-search {
display: flex;
justify-content: space-between;
align-items: center;
}
.logo-slogan h1 {
font-family: 'BirchStd', times;
font-size: 36px;
font-weight: 100;
line-height: 0.7;
color: rgb(255,255,255);
padding-top: 18px;
}
.logo-slogan h1 span {
color: rgb(153,153,153);
}
.logo-slogan p {
font-size: 12px;
padding-bottom: 6px;
color: rgb(102,102,102);
}

form.search {
display: flex;
justify-content: space-between;
align-items: center;
}
form.search input {
width: 352px;
height: 27px;
margin-right: 11px;
border: 1px solid rgba(255,255,255,0.3);
background: rgb(51,51,51);
color: rgb(255,255,255);
}
form.search button {
width: 75px;
height: 27px;
border: 1px solid rgba(255,255,255,0.3);
background: rgb(0,0,0);
font-family: Arial, sans-serif;
font-size: 14px;
font-weight: bold;
color: rgb(255,255,255);
}

.section-black {
background-color: rgb(0,0,0);
width: 100%;
}
.section-black .container {
background-image: url("../images/bg-header.jpg");
background-size: origin;
background-position: center;
overflow: hidden;
background-repeat: no-repeat;
filter: grayscale(100%);
height: 326px;
position: relative;
}
.container-grid {
position: abolute;
top: 0;
left:0;
width: 100%;
height: 390px;
background: -moz-linear-gradient(rgba(255,255,255,0.1) 1px, transparent 1px),
            -moz-linear-gradient(90deg, rgb(255,255,255,0.1) 1px, transparent 1px);
background: -o-linear-gradient(rgba(255,255,255,0.1) 1px, transparent 1px),
            -o-linear-gradient(90deg, rgb(255,255,255,0.1) 1px, transparent 1px);
background: -webkit-linear-gradient(rgba(255,255,255,0.1) 1px, transparent 1px),
            -webkit-linear-gradient(90deg, rgb(255,255,255,0.1) 1px, transparent 1px);
background: linear-gradient(rgba(255,255,255,0.1) 1px, transparent 1px),
            linear-gradient(90deg, rgb(255,255,255,0.1) 1px, transparent 1px);
background-size: 2px 2px;
background-position: 0 0;
display: flex;
align-items: flex-end;
}
.section-black .text {
width: 100%;
background-color: rgba(0,0,0,0.7);
font-size: 12px;
color: rgb(204,204,204);
padding: 18px 22px;
}

.section-grid {
background: -moz-linear-gradient(rgba(0,0,0,0.1) 1px, transparent 1px),
            -moz-linear-gradient(90deg, rgb(0,0,0,0.1) 1px, transparent 1px);
background: -o-linear-gradient(rgba(0,0,0,0.1) 1px, transparent 1px),
            -o-linear-gradient(90deg, rgb(0,0,0,0.1) 1px, transparent 1px);
background: -webkit-linear-gradient(rgba(0,0,0,0.1) 1px, transparent 1px),
            -webkit-linear-gradient(90deg, rgb(0,0,0,0.1) 1px, transparent 1px);
background: linear-gradient(rgba(0,0,0,0.1) 1px, transparent 1px),
            linear-gradient(90deg, rgb(0,0,0,0.1) 1px, transparent 1px);
background-size: 2px 2px;
background-position: 0 0;
}

.section-grid .container {
font-size: 13px;
background-color: rgb(255,255,255);
box-shadow: 2px 2px 2px rgba(0,0,0,0.5),
            -2px 0 2px rgba(0,0,0,0.5);
}
.black-menu {
width: 100%;
background-color: rgb(0,0,0);
}
nav {
color: rgb(255,255,255);
display: flex;
flex-direction: row;
}
nav a {
padding: 7px 23px 7px 25px;
font-size: 14px;
font-weight: bold;
border-right: 1px solid rgba(255,255,255,0.2);
color: rgb(255,255,255);
text-decoration: none;
}
nav a:visited {
color: rgb(255,255,255);
text-decoration: none;
}

.main {
width: 100%;
padding: 12px 20px 24px 12px;
}

h2 {
font-size: 30px;
font-weight: bold;
color: rgb(153,153,153);
}
h2:first-letter {
color: rgb(0,0,0);
}
.main p {
line-height: 1.6;
margin-bottom: 4px;
}
.main p span {
margin-left: 24px;
color: rgb(153,153,153);
font-style: italic;
}

h3 {
font-size: 20px;
font-weight: bold;
color: rgb(153,153,153);
margin-top: 22px;
margin-bottom: 10px;
}
h3:first-letter {
color: rgb(0,0,0);
}
.galery {
margin-right: 13px;
display: flex;
align-items: flex-start;
justify-content: space-between;
}
.picture-box {
width: 224px;
height: 166px;
border: 12px solid rgb(226,226,226);
padding-left: -12px;
overflow: hidden;
display:flex;
justify-content: flex-start;
align-items: center;
}
.picture-box:nth-child(even) {
justify-content: center;
}

.list-box {
display: flex;
align-items: flex-start;
justify-content: flex-start;
line-height: 1.6;
margin: 0 40px 38px 40px;
}
.list-bullets, .list-numeric, .list-centred {
width: 33.3%;
}
.list-centred ul {
text-align: center;
}
.list-centred li:nth-child(odd) {
text-align: left;
font-weight: bold;
}

table {
width: 100%;
border-collapse: collapse;
border: 1px solid rgb(213,213,213);
text-align: left;
margin-left: 5px;
margin-bottom: 4px;
}
th {
border: 1px solid rgb(213,213,213);
background-color: rgb(239,239,239);
padding: 9px 0 9px 10px;
}
td {
border: 1px solid rgb(213,213,213);
padding: 7px 0px 7px 10px;
}
.input-txt, .select-form {
margin-bottom: 15px;
}
.input-txt input, .select-form select {
width: 224px;
margin-top: 3px;
padding: 6px 8px;
border: 1px solid rgb(204,204,204);
}
.input-form {
box-shadow: inset 1px 1px 2px rgba(204,204,204,0.8);
}
.checkbox-form, .radio-form  {
margin-bottom: 18px;
line-height: 1.6;
}
.checkbox-form input, .radio-form input {
margin-right: 6px;
margin-left: 1px;
}
.txt-area {
margin-bottom: 10px;
}
.txt-area textarea {
max-width: 304px;
width: 100%;
min-height: 124px;
margin-top: 3px;
border: 1px solid rgb(204,204,204);
box-shadow: inset 1px 1px 2px rgba(204,204,204,0.8);
font-family: Arial, sans-serif;
font-size: 13px;
}
form.message button {
width: 91px;
height: 35px;
border: 1px solid rgb(255,255,255);
background: rgb(51,51,51);
font-size: 14px;
font-weight: bold;
color: rgb(255,255,255);
}

footer {
max-width: 1000px;
width: 100%;
margin: auto;
padding: 11px 0;
font-size: 13px;
color: rgb(102,102,102);
}